# /etc/nginx/sites-available/sfta

server {
    listen 80;
    server_name <replace-with-your-domain>;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name <replace-with-your-domain>;

    ssl_certificate /etc/letsencrypt/live/<replace-with-your-domain>/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<replace-with-your-domain>/privkey.pem;

    location / {
        # If using docker compose, use the host port, otherwise use the 'PORT' environment variable
        proxy_pass http://127.0.0.1:8080;
        include proxy_params;
    }

    # Match location with a path from the 'WEB_UPLOADS_URL' environment variable
    location /uploads {
        # If using docker compose, use the host volume uploads path, otherwise use the 'UPLOADS_DIR' environment variable
        alias /var/www/sfta/uploads;
        autoindex off;
    }
}